@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --board-bg: #d2b48c; /* Light wood/cork color */
}

body {
  background-color: #e5e5e5;
  background-image: radial-gradient(#444 0.5px, transparent 0.5px);
  background-size: 20px 20px;
}

.corkboard {
  background-color: #bc9b6a;
  background-image: url("https://www.transparenttextures.com/patterns/cork-board.png");
  min-height: 100vh;
}

/* Post-it / Scroll base styles */
.paper-note {
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
}

.paper-note:hover {
  transform: scale(1.1) !important;
  z-index: 10;
  box-shadow: 10px 10px 15px rgba(0,0,0,.3);
}