@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --board-bg: #d2b48c;
}

body {
  /* We use the hex code #f5f5f4 (stone-100) directly to fix the build error */
  background-color: #f5f5f4; 
  transition: background-color 0.5s ease;
}

/* Post-it / Scroll base styles */
.paper-note {
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
}

.paper-note:hover {
  transform: scale(1.1) !important;
  z-index: 10;
  box-shadow: 10px 10px 15px rgba(0,0,0,.3);
}